.social-icon{
    color: #898ba0;
}

.social-icon:hover{
    color: #bebfc4;
}
.call-to-action{
    width: 60%;
    margin-top: 15px;
    background-color: #ffa500;
    color: white;
    border-color: #ffa500;

}

.call-to-actdion:hover {
    background-color: #e99b0c;
    color: #fff;
    border-color: #fff;
}
.hide-on-mobile {
    display: block !important;
}

.show-on-mobile {
    display: none !important;
}
@media screen and (max-width: 1024px) {
    .hide-on-mobile {
        display: none !important;
    }

    .show-on-mobile {
        display: block !important;
    }
}